body{
	background-image: url("Images/bright_squares_@2X.png");
}

#data {
	/*display: inline-block;*/
    /*display: -webkit-box;*/
    display: flex;
    height: 300px;
    align-items: center;
    flex-wrap: wrap 
}

h1	{
	text-align: center;
	color: Teal;
	padding-top: 2%
}

li img{
    max-width: 100%;
    alignment-baseline: center;
}

p{
    margin: 0;
    text-align: -webkit-center;
    margin-bottom: 5px;
}

button{
    width: 250px;
}